body{
    background-color:white;
    margin: 0px;
    margin-bottom: 5px;
}
.titleBanner{
  padding: 10px;
  border: solid rgb(99, 60, 21);
  height: 5vh;
  display: flex;
  justify-content: center;
  background-color: peru;
  font-size: 30px;

}
/* top-container */
.fourPhases{
  border: solid blue;
  padding:1em;
  margin:0px;
}
/* mid-container */
.areaAttn{
  display: flex;
  justify-content: space-between;
  margin-top: 5px;
  border: solid orange;
  padding-top:5px;
}
.termsCont{
  border: solid green;
  height: 42vh;
  width: 50%;
  display:flex;
  flex-wrap: wrap;
}
.termsAnsCont{
border: solid black;
height: 42vh;
width: 50%;
}
.phaseContainer {
  border: solid black;
  border-width:.2px;
}
.phase {
  display: flex;
  padding: 1em;
}
.phase:hover {
    background-color:lightblue;
    border:solid blue;
    transition: .3s;
    display: flex;
    padding: 1em;
  }
.pTitle {
  width: 30%;
  text-align:center;
  font-size:18px;
  border-right: solid black;
}

.description {
  padding:12px;
  width: 70%;
  text-align:right;
  margin-right: 0px;
}
.topTitle{
    text-align:center;
    margin-top: 1px;
    border-bottom: solid blue;
}
.attnBtn{
    border:solid blue;
    border-width:.2px;
    height:20px;
    margin:.5em;
    text-align:center;
    width:15%;
    border-radius:22px;
    font-size:18px;
    background-color: black;
    color:white;
    cursor: pointer;
}
.attnBtn:hover{
    border:solid blue;
    border-width:.2px;
    height:20px;
    margin:.5em;
    text-align:center;
    width:15%;
    border-radius:22px;
    font-size:18px;
    background-color: green;
    color:white;
}